Repository louhenhq/louhen-landing, changes with the owners that CODEOWNERS names for each.
All owners: @louhen/engineering, @louhen/qa, @louhen/e2e-team, @louhen/accessibility, @louhen/performance, @louhen/seo, @louhen/ci, @louhen/docs

CODEOWNERS:

# Default reviewers
* @louhen/engineering @louhen/qa

# End-to-end tests
tests/e2e/** @louhen/e2e-team @louhen/engineering

# Accessibility tests
tests/axe/** @louhen/accessibility @louhen/engineering

# Performance & SEO tooling
lighthouserc.cjs @louhen/performance @louhen/seo
scripts/run-lighthouse.mjs @louhen/performance @louhen/seo

# CI workflows
.github/workflows/** @louhen/ci @louhen/engineering

# Documentation / runbooks
CONTEXT/** @louhen/docs @louhen/engineering

ci(strict): add STRICT_CI toggle + governance doc for workflows and protections
  .github/workflows/ci.yml
  CONTEXT/ci_cd.md
Owners: @louhen/ci, @louhen/engineering, @louhen/docs

ci(strict): fix STRICT_CI expr; tests: rename Playwright helper to avoid hooks rule
  .github/workflows/ci.yml
  tests/fixtures/playwright.ts
Owners: @louhen/ci, @louhen/engineering, @louhen/qa

ci(context): add CI context logging for locale envs + document required environment variables
  .env.example
  .github/workflows/ci.yml
  CONTEXT/ci_cd.md
  CONTEXT/decision_log.md
  CONTEXT/envs.md
  CONTEXT/i18n.md
  CONTEXT/naming.md
  CONTEXT/seo.md
  CONTEXT/tests.md
  README.md
  app/(site)/[locale]/layout.tsx
  app/admin/metrics/page.tsx
  lib/i18n/locales.ts
  lib/intl/loadMessages.ts
  lib/shared/method/article-schema.ts
  messages/de.json
  messages/en.json
  messages/fr.json
  messages/it-it.json
  messages/it.json
  messages/nl-nl.json
  messages/nl.json
  next-intl.config.mjs
  next-intl.locales.ts
  next.config.ts
  playwright.config.ts
  tests/__screenshots__/landing-v1/README.md
  tests/e2e/_utils/url.ts
  tests/e2e/header-nav/i18n.e2e.ts
  tests/e2e/header-nav/seo.e2e.ts
  tests/e2e/header-nav/visual.e2e.ts
  tests/e2e/landing.screenshots.spec.ts
  tests/e2e/method-accessibility.spec.ts
  tests/e2e/method-smoke.spec.ts
  tests/e2e/security-headers.spec.ts
  tests/e2e/seo.spec.ts
  tests/e2e/seo/twitter-card.e2e.ts
  tests/e2e/waitlist.flow.spec.ts
  tests/fixtures/playwright.ts
  tests/unit/method/method-jsonld.spec.ts
Owners: @louhen/engineering, @louhen/qa, @louhen/ci, @louhen/docs, @louhen/e2e-team

tests: all unit suites green — real limiter + in-memory repo, analytics stabilized
  app/api/waitlist/resend/route.ts
  app/api/waitlist/route.ts
  tests/unit/analytics.spec.ts
  tests/unit/api.waitlist.rate-limit.test.ts
Owners: @louhen/engineering, @louhen/qa

fix(waitlist): guard upsertPending from downgrading confirmed records; mirror in test repo; all unit suites green
  lib/server/waitlist/firestore.server.ts
  tests/unit/api.waitlist.rate-limit.test.ts
Owners: @louhen/engineering, @louhen/qa

fix(waitlist): service-layer confirmed guard; align tests and repo; unit suite green
  lib/firestore/waitlist.ts
  tests/unit/firestore.waitlist.test.ts
Owners: @louhen/engineering, @louhen/qa

debug(waitlist): log guard/write paths and test pre/post state
  lib/firestore/waitlist.ts
  lib/server/waitlist/firestore.server.ts
  tests/unit/firestore.waitlist.test.ts
Owners: @louhen/engineering, @louhen/qa

chore(waitlist): remove temporary guard diagnostics
  lib/firestore/waitlist.ts
Owners: @louhen/engineering, @louhen/qa

tests(waitlist): stabilize confirmed-flow — single TEST_MODE store instance + reuse persisted lookup hash
  tests/unit/firestore.waitlist.test.ts
Owners: @louhen/engineering, @louhen/qa

ci(build): guard Next artifact upload; ignore when .next missing; align path with build dir
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

ci(flow): expose NEXT_BUILD_DIR + has_next output; guard artifact uploads and add local build fallback for e2e/axe/lighthouse
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

ci(artifacts): standardize NEXT_BUILD_DIR, detect has_next, guard uploads/downloads, add local build fallback + secret hygiene alignment
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

ci(artifacts): align downstream jobs — download next-build into $NEXT_BUILD_DIR, guarded local rebuild + dir verify
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

ci(build): strengthen NEXT_BUILD_DIR detection — list dir, count files, log NEXT_BUILD_FILE_COUNT, and align upload path with workspace
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

ci(artifacts): upload Next build using glob (/**/*) and set if-no-files-found:error to ensure artifact presence
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

ci(artifacts): include hidden .next directory contents in upload-artifact v4 step to fix missing Next build uploads
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

e2e(config): isolate Playwright from Vitest — alias vitest paths in tsconfig.e2e.json, add optional runtime guard, and purge accidental imports
  .github/workflows/ci.yml
  package.json
  tsconfig.e2e.json
Owners: @louhen/ci, @louhen/engineering, @louhen/qa

tests: quarantine vitest setup under tests/unit; tsconfig.e2e blocks vitest/jest-dom; keep Playwright runtime clean
  CONTEXT/rename_map.md
  CONTEXT/tests.md
  __do_not_use__/vitest.d.ts
  tests/unit/setup.server-mocks.ts
  tests/unit/vitest.setup.ts
  tsconfig.e2e.json
  vitest.config.ts
Owners: @louhen/docs, @louhen/engineering, @louhen/qa

docs(tests): replace stray hex example with token reference
  .eslintcache
  .github/workflows/ci.yml
  .gitignore
  CONTEXT/contracts.md
  CONTEXT/deps.md
  CONTEXT/owners.md
  CONTEXT/tests.md
  app/(marketing)/[locale]/method/layout.tsx
  app/(site)/[locale]/layout.tsx
  app/(site)/components/Hero.tsx
  app/layout.tsx
  components/PageReadySentinel.tsx
  components/PrivacyRibbon.tsx
  components/features/header-nav/Header.tsx
  dev.debug.log
  lib/header/ctaConfig.ts
  lib/nav/config.ts
  middleware.ts
  package.json
  playwright.config.ts
  tests/_quarantine/.gitkeep
  tests/e2e/consent/denied.e2e.ts
  tests/e2e/consent/granted.e2e.ts
  tests/e2e/footer/legal-links.e2e.ts
  tests/e2e/landing.screenshots.spec.ts
  tests/e2e/landing.spec.ts
  tests/e2e/legal.spec.ts
  tests/e2e/method/method.meta.e2e.ts
  tests/e2e/method/smoke.e2e.ts
  tests/e2e/security/headers.e2e.ts
  tests/e2e/security/network-policy.e2e.ts
  tests/e2e/seo.spec.ts
  tests/e2e/seo/home.meta.e2e.ts
  tests/e2e/waitlist.flow.spec.ts
  tests/e2e/waitlist/api.e2e.ts
  tests/e2e/waitlist/errors.e2e.ts
  tests/e2e/waitlist/landing.e2e.ts
  tests/fixtures/golden/README.md
  tests/fixtures/playwright.ts
  vitest.config.ts
Owners: @louhen/engineering, @louhen/qa, @louhen/ci, @louhen/docs, @louhen/e2e-team

test(config): lock Vitest to unit suites via test.projects; exclude e2e/axe/artifacts; focused v8 coverage + thresholds
  vitest.config.ts
Owners: @louhen/engineering, @louhen/qa

test(e2e): enter via /; consent dialog exposes cookies-labelled role; network guard logs & aborts non-loopback; waitlist mobile waits for networkidle
  components/ConsentBanner.tsx
  tests/e2e/landing.spec.ts
  tests/e2e/security/network-policy.e2e.ts
  tests/e2e/seo/home.meta.e2e.ts
  tests/e2e/waitlist/landing.e2e.ts
  tests/fixtures/playwright.ts
Owners: @louhen/engineering, @louhen/qa, @louhen/e2e-team

test(e2e): stabilize network-policy and landing smokes — replace unreliable network-event waits with expect.poll and /api/track beacon tracking for deterministic Playwright execution
  CONTEXT/architecture.md
  CONTEXT/i18n.md
  CONTEXT/seo.md
  app/(site)/[locale]/waitlist/_components/ExpiredResendForm.tsx
  app/(site)/[locale]/waitlist/_components/WaitlistSuccessAnalytics.tsx
  app/(site)/[locale]/waitlist/_lib/messages.ts
  app/(site)/[locale]/waitlist/already-confirmed/page.tsx
  app/(site)/[locale]/waitlist/confirm/page.tsx
  app/(site)/[locale]/waitlist/expired/page.tsx
  app/(site)/[locale]/waitlist/layout.tsx
  app/(site)/[locale]/waitlist/page.tsx
  app/(site)/[locale]/waitlist/pre-onboarding/_components/PreOnboardingForm.tsx
  app/(site)/[locale]/waitlist/pre-onboarding/page.tsx
  app/(site)/[locale]/waitlist/success/page.tsx
  app/(site)/waitlist/layout.tsx
  app/sitemap.ts
  components/ConsentBanner.tsx
  lib/intl/loadMessages.ts
  lib/shared/routing/waitlist-path.ts
  lib/shared/seo/sitemap.ts
  lighthouserc.cjs
  package.json
  playwright.config.ts
  tests/accessibility/waitlist-axe.spec.ts
  tests/e2e/header-nav/consent.e2e.ts
  tests/e2e/landing.spec.ts
  tests/e2e/security/network-policy.e2e.ts
  tests/e2e/seo/canonical-uniqueness.e2e.ts
  tests/e2e/seo/og-dynamic-vs-static.e2e.ts
  tests/e2e/seo/og-images.e2e.ts
  tests/e2e/seo/twitter-card.e2e.ts
  tests/e2e/waitlist/landing.e2e.ts
  tests/fixtures/playwright.ts
Owners: @louhen/docs, @louhen/engineering, @louhen/qa, @louhen/performance, @louhen/seo, @louhen/e2e-team

test(e2e): stabilize network-policy and landing smokes — replace unreliable network-event waits with expect.poll and /api/track beacon tracking for deterministic Playwright execution
  tests/e2e/landing.spec.ts
Owners: @louhen/e2e-team, @louhen/engineering

fix(nav): point header CTA to /{locale}/waitlist to eliminate 404 and stabilize analytics smoke
  lib/header/ctaConfig.ts
Owners: @louhen/engineering, @louhen/qa

chore(e2e): temporarily remove landing smoke spec pending redesign
  tests/e2e/landing.spec.ts
Owners: @louhen/e2e-team, @louhen/engineering

test(e2e): network-policy smoke waits for requestfailed on cross-origin probe to avoid CSP fetch blocks
  tests/e2e/security/network-policy.e2e.ts
Owners: @louhen/e2e-team, @louhen/engineering

chore(seo+i18n): finalize branded metadata and full i18n guardrail suite
  app/(site)/[locale]/page.tsx
Owners: @louhen/engineering, @louhen/qa

test(waitlist): align E2E payloads with API schema (BCP-47 locale + consent object)
  app/(site)/components/WaitlistForm.tsx
  app/api/waitlist/route.ts
  components/features/waitlist/WaitlistForm.tsx
  lighthouserc.cjs
  package.json
  scripts/run-lighthouse.mjs
  scripts/util/read-locales.cjs
  tests/e2e/helpers/waitlist.ts
  tests/e2e/waitlist/api.e2e.ts
Owners: @louhen/engineering, @louhen/qa, @louhen/performance, @louhen/seo, @louhen/e2e-team

ci(e2e): source test-mode and env settings from ${{ vars.* }} + document repository variable precedence and CI-only scope
  .github/workflows/ci.yml
  CONTEXT/ci_cd.md
  README.md
Owners: @louhen/ci, @louhen/engineering, @louhen/docs, @louhen/qa

test(e2e): stabilize critical waitlist submission — default baseURL=127.0.0.1:4311, dual consent cookies, switch to waitForResponse+Promise.all
  playwright.config.ts
  tests/e2e/critical/critical.e2e.ts
Owners: @louhen/engineering, @louhen/qa, @louhen/e2e-team

test(e2e): move unsubscribe URL building to test-side Node helper; forbid server-only imports in e2e; keep @critical ring clean
  .eslintcache
  CONTEXT/a11y_lhci.md
  app/(site)/[locale]/confirm-pending/page.tsx
  app/(site)/[locale]/confirm/page.tsx
  app/(site)/[locale]/waitlist/page.tsx
  app/(site)/components/SharePanel.tsx
  app/(site)/components/SiteShell.tsx
  app/(site)/components/TrustModals.tsx
  components/ConsentBanner.tsx
  components/ConsentProvider.tsx
  components/features/header-nav/Header.tsx
  components/features/waitlist/ConfirmResendForm.tsx
  eslint.config.mjs
  messages/de/common.json
  messages/en/common.json
  messages/en/waitlist.json
  messages/fr/common.json
  messages/it/common.json
  messages/nl/common.json
  tests/e2e/_utils/selectors.ts
  tests/e2e/_utils/server/unsubscribe.ts
  tests/e2e/core/consent.e2e.ts
  tests/e2e/core/waitlist-happy.e2e.ts
  tests/e2e/critical/critical.e2e.ts
  tests/e2e/security/csp.e2e.ts
  tests/e2e/security/network-policy.e2e.ts
  tests/e2e/unsubscribe.spec.ts
Owners: @louhen/engineering, @louhen/qa, @louhen/docs, @louhen/e2e-team

test(e2e): stabilize consent focus and waitlist happy-path (dual endpoint + UI fallback); add Vitest server-only shim and aliases
  tests/e2e/core/consent.e2e.ts
  tests/unit/mocks/server-only.ts
  vitest.config.ts
Owners: @louhen/e2e-team, @louhen/engineering, @louhen/qa

ci+e2e: robust BASE_URL readiness; run strict CSP + split @critical; consent focus/new-tab; waitlist mock; CSP directive accuracy; net-policy allow probe; axe disabledRules hook
  .github/workflows/ci.yml
  package.json
  playwright.config.ts
  tests/e2e/core/consent.e2e.ts
  tests/e2e/core/waitlist-happy.e2e.ts
  tests/e2e/security/csp.e2e.ts
  tests/e2e/security/network-policy.e2e.ts
  tests/fixtures/axe.ts
Owners: @louhen/ci, @louhen/engineering, @louhen/qa, @louhen/e2e-team

ci: background Next.js server with nohup + PID tracking; add TCP wait-on and robust readiness probe with logs/diagnostics
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

ci: fix captcha bypass verify step—assert server-side bypass via POST; tolerate captcha markup presence; add diagnostics
  .github/workflows/ci.yml
Owners: @louhen/ci, @louhen/engineering

test(e2e): consent new-tab check robust; waitlist happy-path await mock fulfillment + UI fallback; strict CSP: remove 'unsafe-inline', add form-action 'self'; align smoke headers test
  lib/security/csp.ts
  tests/e2e/core/consent.e2e.ts
  tests/e2e/core/waitlist-happy.e2e.ts
  tests/e2e/security/headers.e2e.ts
Owners: @louhen/engineering, @louhen/qa, @louhen/e2e-team

docs(test): clarify @critical split (6 cases / 4 specs); remove legacy monolith directory
  CONTEXT/tests.md
Owners: @louhen/docs, @louhen/engineering
